* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115vh;
}

.title h5 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  line-height: 60px;
}

.title h4 {
  font-size: 2rem;
  font-weight: 200;
  color: #fff;
}

.title h1 {
  line-height: 60px;
  font-size: 3.7rem;
  font-weight: 600;
  color: rgb(209, 147, 13);
}

.title h3 {
  font-size: 4rem;
  font-weight: 600;
  color: rgb(209, 147, 13);
}

.title h3 {
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
  line-height: 70px;
}

.title .social {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  color: rgb(209, 147, 13);
}

.title p {
  color: white;
  font-size: 1.18rem;
  line-height: 30px;
}

button {
  width: 190px;
  background-color: rgb(209, 147, 13);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 2px solid rgb(209, 147, 13);
  font-size: 1.05rem;
  font-family: "Times New Roman", Times, serif;
}

.title button:hover {
  background-color: rgb(209, 147, 13);
  color: white;
  border: none;
}

.profile {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img {
  width: 65%;
  padding-top: 30px;
}

.title {
  width: 50%;
  padding-left: 80px;
}

@media screen and (max-width: 800px) {
  .main {
    flex-direction: column;
    margin-top: 150px;
    gap: 100px;

  }

  .title {
    width: 100%;
    padding: 0px 20px;
  }

  .profile {
    width: 100%;
    height: 200px;
  }

  .profile img {
    padding-left: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {

  .main{
    margin-top: 130px;
    gap: 90px;
  }

  .title {
    margin-top: -70px;
  }

  .title h1 {
    font-size: 3rem;
  }

  .title h3 {
    font-size: 2rem;
    line-height: 50px;
    margin-top: 10px;
  }

  .title p {
    margin-top: 10px;
    font-size: 1.1rem;
  }
}
<<<<<<< HEAD
button :hover a{
    text-decoration: none;
    color:white;
}

@media screen and (max-width:768px){
    


}
=======
>>>>>>> 7d13718c11d628bbe64e22edcdbdbaaaafde2529
